In [65]:
import pandas as pd
import numpy as np

In [66]:
data = pd.ExcelFile('C:\SS\AI_pj\product.xlsx')

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\user\AppData\Local\Temp\ipykernel_9148\399864076.py:1: SyntaxWarning: invalid escape sequence '\S'
  data = pd.ExcelFile('C:\SS\AI_pj\product.xlsx')

In [67]:
sheet_names = data.sheet_names
print(sheet_names)

['문제', '판매', '분류']

In [68]:
dataframes = {}
for sheet in sheet_names:
    dataframes[sheet] = pd.read_excel(data, sheet_name=sheet, header=0)

In [90]:
df = dataframes['판매']
df

             상품코드              상품명  칼라   칼라명   사이즈   판매금액  수량 Code MappedValue
0       AFJ3KT007           C-깃털자수  BK    블랙  Free  39000   1   KT          니트
1       AFI3DP001        C-3985부츠컷  DL    진청     M  34500   1   DP          데님
2       AFJ7SK002        C-그라데이션SK  KH    카키  Free  29000   1   SK         스커트
3       AFA2TS104            막스버튼티  WH   화이트     L  19500   1   TS         티셔츠
4       AFA2TS104            막스버튼티  WH   화이트     L  19500  -1   TS         티셔츠
...           ...              ...  ..   ...   ...    ...  ..  ...         ...
658733  BEK5CP008            골지챙라쿤  BK    블랙  Free  33000   1   CP          모자
658734  AEJ2BL402  폴카 루즈핏 풀오버(빈티지)  BK    블랙  Free  19000   1   BL        블라우스
658735  AIJ7JP012          다이아패딩JP  IV  아이보리  Free  93000   1   JP          점퍼
658736  AFA2KT711         LOVE반목니트  WH   화이트  Free  33000   1   KT          니트
658737  AFA2PT306           벨트깡부츠컷  BK    블랙     S  59000   1   PT          바지

[658738 rows x 9 columns]

In [91]:
mapping_dict = {
    "TS": "티셔츠",
    "TN": "티셔츠나시",
    "KT": "니트",
    "KN": "니트나시",
    "BL": "블라우스",
    "WS": "남방",
    "BN": "블라우스나시",
    "JP": "점퍼",
    "JK": "자켓",
    "CT": "코트",
    "VT": "베스트",
    "OP": "원피스",
    "CA": "가디건",
    "PT": "바지",
    "DP": "데님",
    "SK": "스커트",
    "ST": "세트",
    "LG": "레깅스",
    "BG": "가방",
    "MF": "머플러",
    "SB": "신발",
    "CP": "모자",
    "SC": "양말",
    "GT": "기타",
    "AC": "스크래치특가",
    "AK": "스크래치특가",
    "BC": "부채",
    "BD": "바디제품",
    "BT": "벨트",
    "CD": "가디건1",
    "CK": "시계2",
    "CL": "세척제",
    "CO": "커피",
    "ET": "기타대",
    "FU": "퍼(FUR)",
    "GF": "상품권",
    "GL": "안경",
    "GV": "장갑",
    "HR": "헤어제품",
    "IN": "이너웨어",
    "JA": "키홀더",
    "JB": "브로치",
    "JC": "팔찌",
    "JE": "귀걸이",
    "JF": "발찌",
    "JH": "헤어악세사리",
    "JM": "손거울",
    "JN": "목걸이",
    "JR": "반지",
    "JS": "스마트폰악세사리",
    "JW": "시계",
    "LP": "램프",
    "LT": "가죽",
    "LV": "리빙",
    "MK": "메이크업",
    "OU": "아우터",
    "PF": "향수",
    "PL": "식물",
    "PM": "팩/마스크",
    "SH": "숄",
    "SN": "스킨케어",
    "SO": "비누",
    "SP": "샘플",
    "SW": "수영복",
    "XX": "쥬얼리",
    "TW": "타월",
    "UM": "우산"
}

In [92]:
df['MappedValue'] = df['상품코드'].str[4:6].map(mapping_dict)

In [93]:
# 사이즈 변경
df.loc[df['사이즈'].isin(['XX', 'F']), '사이즈'] = 'Free'
df.loc[df['사이즈'].isin(['55', '25']), '사이즈'] = 'S'
df.loc[df['사이즈'].isin(['66', '26']), '사이즈'] = 'M'
df.loc[df['사이즈'].isin(['77', '27']), '사이즈'] = 'L'
df.loc[df['사이즈'].isin(['88', '28']), '사이즈'] = 'XL'

In [94]:
# 대분류 상 의류만
df = df[df['상품코드'].str[0]=='A']
df

             상품코드              상품명  칼라   칼라명   사이즈   판매금액  수량 Code MappedValue
0       AFJ3KT007           C-깃털자수  BK    블랙  Free  39000   1   KT          니트
1       AFI3DP001        C-3985부츠컷  DL    진청     M  34500   1   DP          데님
2       AFJ7SK002        C-그라데이션SK  KH    카키  Free  29000   1   SK         스커트
3       AFA2TS104            막스버튼티  WH   화이트     L  19500   1   TS         티셔츠
4       AFA2TS104            막스버튼티  WH   화이트     L  19500  -1   TS         티셔츠
...           ...              ...  ..   ...   ...    ...  ..  ...         ...
658732  AHK7KT034            탄체크KT  BR   브라운  Free  79000   1   KT          니트
658734  AEJ2BL402  폴카 루즈핏 풀오버(빈티지)  BK    블랙  Free  19000   1   BL        블라우스
658735  AIJ7JP012          다이아패딩JP  IV  아이보리  Free  93000   1   JP          점퍼
658736  AFA2KT711         LOVE반목니트  WH   화이트  Free  33000   1   KT          니트
658737  AFA2PT306           벨트깡부츠컷  BK    블랙     S  59000   1   PT          바지

[519525 rows x 9 columns]

In [95]:
year_dict = {
    "Z": "공통",
    "A": "2013",
    "B": "2014",
    "C": "2015",
    "D": "2016",
    "E": "2017",
    "F": "2018",
    "G": "2019",
    "H": "2020",
    "I": "2021",
    "J": "2022",
    "K": "2023"
}

In [96]:
# df['Code'] = df['상품코드'].str[1]
df['년도'] = df['상품코드'].str[1].map(year_dict)

C:\Users\user\AppData\Local\Temp\ipykernel_9148\1844989356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['년도'] = df['상품코드'].str[1].map(year_dict)

In [97]:
# 월별 데이터 중 특이한 코드 몇개인지 확인
un_dict = ['U', 'M', '0', '1', '1', 'Q', 'Z']
filtered_df = df[df['상품코드'].apply(lambda x: x[2] in un_dict)]
filtered_df

             상품코드      상품명  칼라   칼라명   사이즈    판매금액  수량 Code MappedValue    년도
35      AE00TN002    모모끈나시  GR    회색  Free    9500   2   TN       티셔츠나시  2017
41      AE00TN002    모모끈나시  GR    회색  Free    9500   1   TN       티셔츠나시  2017
925     AF00TN101   모모끈나시2  IV  아이보리  Free   19000   1   TN       티셔츠나시  2018
1096    AE00WS001     스판남방  WH   화이트  Free   19500   1   WS          남방  2017
1186    AE00TN002    모모끈나시  IP  인디핑크  Free    9500   1   TN       티셔츠나시  2017
...           ...      ...  ..   ...   ...     ...  ..  ...         ...   ...
658437  AG00TN001  D-모모끈세트  XX    XX  Free   29000   1   TN       티셔츠나시  2019
658448  AG00TN001  D-모모끈세트  XX    XX  Free   29000   1   TN       티셔츠나시  2019
658633  AHQ4JP004  양가죽로랑점퍼  BE   베이지     M  199000   1   JP          점퍼  2020
658634  AHQ4JP004  양가죽로랑점퍼  BE   베이지     S  199000   1   JP          점퍼  2020
658635  AHQ4JP004  양가죽로랑점퍼  BE   베이지     M  199000  -1   JP          점퍼  2020

[3362 rows x 10 columns]

In [98]:
#월 데이터 수정
month_dict = {
    "A": "1월",
    "B": "2월",
    "C": "3월",
    "D": "4월",
    "E": "5월",
    "F": "6월",
    "G": "7월",
    "H": "8월",
    "I": "9월",
    "J": "10월",
    "K": "11월",
    "L": "12월",
    "U": "공통",
    "0": "0",
    "1": "1",
    "2": "2",
    "Q": "퍼(FUR)",
    "Z": "특종"
}
df = df[df['상품코드'].str[2] != 'M']

In [99]:
# df['Code'] = 
df['월'] = df['상품코드'].str[2].map(month_dict)
df

C:\Users\user\AppData\Local\Temp\ipykernel_9148\2194781169.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['월'] = df['상품코드'].str[2].map(month_dict)

,상품코드,상품명,칼라,칼라명,사이즈,판매금액,수량,Code,MappedValue,년도,월
0,AFJ3KT007,C-깃털자수,BK,블랙,Free,39000,1,KT,니트,2018,10월
1,AFI3DP001,C-3985부츠컷,DL,진청,M,34500,1,DP,데님,2018,9월
2,AFJ7SK002,C-그라데이션SK,KH,카키,Free,29000,1,SK,스커트,2018,10월
3,AFA2TS104,막스버튼티,WH,화이트,L,19500,1,TS,티셔츠,2018,1월
4,AFA2TS104,막스버튼티,WH,화이트,L,19500,-1,TS,티셔츠,2018,1월
...,...,...,...,...,...,...,...,...,...,...,...
658732,AHK7KT034,탄체크KT,BR,브라운,Free,79000,1,KT,니트,2020,11월
658734,AEJ2BL402,폴카 루즈핏 풀오버(빈티지),BK,블랙,Free,19000,1,BL,블라우스,2017,10월
658735,AIJ7JP012,다이아패딩JP,IV,아이보리,Free,93000,1,JP,점퍼,2021,10월
658736,AFA2KT711,LOVE반목니트,WH,화이트,Free,33000,1,KT,니트,2018,1월
658737,AFA2PT306,벨트깡부츠컷,BK,블랙,S,59000,1,PT,바지,2018,1월

In [105]:
xlsx_all_sheets = pd.read_excel('C:/Users/user/Documents/카카오톡 받은 파일/file_names_no_extension.xlsx', sheet_name=None)

all_sheets_df = pd.concat(xlsx_all_sheets.values(), ignore_index=True)
valid_codes = all_sheets_df['File Name'].tolist()  # '상품코드' 컬럼이 모든 시트에 있다고 가정합니다.
len(valid_codes)

17729

In [103]:
filtered_df = df[df['상품코드'].isin(valid_codes)]
filtered_df

,상품코드,상품명,칼라,칼라명,사이즈,판매금액,수량,Code,MappedValue,년도,월
0,AFJ3KT007,C-깃털자수,BK,블랙,Free,39000,1,KT,니트,2018,10월
1,AFI3DP001,C-3985부츠컷,DL,진청,M,34500,1,DP,데님,2018,9월
2,AFJ7SK002,C-그라데이션SK,KH,카키,Free,29000,1,SK,스커트,2018,10월
3,AFA2TS104,막스버튼티,WH,화이트,L,19500,1,TS,티셔츠,2018,1월
4,AFA2TS104,막스버튼티,WH,화이트,L,19500,-1,TS,티셔츠,2018,1월
...,...,...,...,...,...,...,...,...,...,...,...
658732,AHK7KT034,탄체크KT,BR,브라운,Free,79000,1,KT,니트,2020,11월
658734,AEJ2BL402,폴카 루즈핏 풀오버(빈티지),BK,블랙,Free,19000,1,BL,블라우스,2017,10월
658735,AIJ7JP012,다이아패딩JP,IV,아이보리,Free,93000,1,JP,점퍼,2021,10월
658736,AFA2KT711,LOVE반목니트,WH,화이트,Free,33000,1,KT,니트,2018,1월
658737,AFA2PT306,벨트깡부츠컷,BK,블랙,S,59000,1,PT,바지,2018,1월

In [100]:
df.to_csv('output_file.csv', index=False, encoding='utf-8')

In [111]:
filtered = pd.read_csv('C:/SS/AI_pj/filtered_output_file.csv')
len(filtered['상품코드'].unique()) , len(filtered)

(13956, 505958)

In [113]:
filtered[filtered['상품코드'] == 'AFE2PT312']

             상품코드   상품명   칼라  칼라명 사이즈   판매금액  수량 Code MappedValue    년도   월
729     AFE2PT312  R마8부   WH  화이트   M  39000   1   PT          바지  2018  5월
750     AFE2PT312  R마8부  NaN  네이비   S  39000   1   PT          바지  2018  5월
752     AFE2PT312  R마8부   WH  화이트   M  39000   1   PT          바지  2018  5월
753     AFE2PT312  R마8부   KH   카키   M  39000   1   PT          바지  2018  5월
754     AFE2PT312  R마8부   KH   카키   M  39000   1   PT          바지  2018  5월
...           ...   ...  ...  ...  ..    ...  ..  ...         ...   ...  ..
504711  AFE2PT312  R마8부   KH   카키   S  39000  -1   PT          바지  2018  5월
504712  AFE2PT312  R마8부   KH   카키   S  39000   1   PT          바지  2018  5월
504797  AFE2PT312  R마8부   BK   블랙   S  39000   1   PT          바지  2018  5월
504801  AFE2PT312  R마8부   WH  화이트   S  39000   1   PT          바지  2018  5월
505243  AFE2PT312  R마8부   BK   블랙   L  39000   1   PT          바지  2018  5월

[3121 rows x 11 columns]

In [116]:
df1 =  filtered.drop_duplicates(subset=['상품코드'], keep='first')
df1

,상품코드,상품명,칼라,칼라명,사이즈,판매금액,수량,Code,MappedValue,년도,월
0,AFJ3KT007,C-깃털자수,BK,블랙,Free,39000,1,KT,니트,2018,10월
1,AFI3DP001,C-3985부츠컷,DL,진청,M,34500,1,DP,데님,2018,9월
2,AFJ7SK002,C-그라데이션SK,KH,카키,Free,29000,1,SK,스커트,2018,10월
3,AFA2TS104,막스버튼티,WH,화이트,L,19500,1,TS,티셔츠,2018,1월
5,AGC3VT008,M-쉬폰조끼,RE,레드,Free,49000,1,VT,베스트,2019,3월
...,...,...,...,...,...,...,...,...,...,...,...
504913,AIF3PT014,Z-샤끈PT,IV,아이보리,Free,66000,1,PT,바지,2021,6월
505017,AFJ3WS005,C-배색포켓롱남방,BE,베이지,Free,44500,1,WS,남방,2018,10월
505097,AFA2WS802,핀탁NB,BK,블랙,Free,28000,1,WS,남방,2018,1월
505129,AGL7JP002,샤인패딩,BK,블랙,Free,129000,1,JP,점퍼,2019,12월
505930,AFE6BN304,샌즈나시,BE,베이지,Free,56000,1,BN,블라우스나시,2018,5월

In [119]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13956 entries, 0 to 505930
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   상품코드         13956 non-null  object
 1   상품명          13956 non-null  object
 2   칼라           13213 non-null  object
 3   칼라명          13956 non-null  object
 4   사이즈          13956 non-null  object
 5   판매금액         13956 non-null  int64
 6   수량           13956 non-null  int64
 7   Code         13956 non-null  object
 8   MappedValue  13956 non-null  object
 9   년도           13956 non-null  int64
 10  월            13956 non-null  object
dtypes: int64(3), object(8)
memory usage: 1.3+ MB

In [117]:
df1.to_csv('db용.csv', index=False, encoding='utf-8')